.group-93,
.group-93 * {
  box-sizing: border-box;
}
.group-93 {
  height: 56px;
  position: relative;
}
.rectangle-1 {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  width: 348px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: var(
    --back-panel-box-shadow,
    0px 4px 30.8px 0px rgba(189, 209, 253, 0.65),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 10px 3px rgba(0, 0, 0, 0.17)
  );
  backdrop-filter: var(--back-panel-backdrop-filter, blur(8px));
}
.group-92 {
  width: 323px;
  height: 42px;
  position: static;
}
.group-91 {
  width: 163px;
  height: 36px;
  position: static;
}
/* .group-90 {
  width: 36px;
  height: 36px;
  position: static;
} */
.rectangle-238 {
  background: #13171a;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 10px;
  top: 10px;
  aspect-ratio: 1;
}
.assistant-navigation {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 16.48px;
  top: 16.48px;
  overflow: visible;
  aspect-ratio: 1;
}
.easy-navigation {
  color: #15171b;
  text-align: left;
  font-family: "NebulicaTMeAll4Designer-Bold", sans-serif;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.5px;
  font-weight: 700;
  position: absolute;
  left: 57px;
  top: 10px;
  width: 116px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button {
  background: var(--button-acent, #2563eb);
  border-radius: 6px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 42px;
  position: absolute;
  left: 205px;
  top: 7px;
  overflow: hidden;
}
.button-label {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: var(
    --body-small-heavy-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body-small-heavy-font-size, 14px);
  line-height: var(--body-small-heavy-line-height, 19px);
  letter-spacing: var(--body-small-heavy-letter-spacing, -0.02em);
  font-weight: var(--body-small-heavy-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
