/* Figma Styles of your File */
:root {
  /* Colors */
  --primary: #545f71;
  --secondary: #9ba5b7;
  --tertiary: #eef1f4;
  --white: #ffffff;
  --annotations: #f6be2c;
  --button-acent: #2563eb;
  --15171b: #15171b;

  /* Fonts */
  --h1-font-family: Inter-Bold, sans-serif;
  --h1-font-size: 48px;
  --h1-line-height: 48px;
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-font-family: Inter-Bold, sans-serif;
  --h2-font-size: 32px;
  --h2-line-height: 36px;
  --h2-font-weight: 700;
  --h2-font-style: normal;
  --h3-font-family: Inter-Bold, sans-serif;
  --h3-font-size: 24px;
  --h3-line-height: 30px;
  --h3-font-weight: 700;
  --h3-font-style: normal;
  --body-font-family: Inter-Regular, sans-serif;
  --body-font-size: 16px;
  --body-line-height: 22px;
  --body-font-weight: 400;
  --body-font-style: normal;
  --body-heavy-font-family: Inter-SemiBold, sans-serif;
  --body-heavy-font-size: 16px;
  --body-heavy-line-height: 22px;
  --body-heavy-font-weight: 600;
  --body-heavy-font-style: normal;
  --body-small-font-family: Inter-Regular, sans-serif;
  --body-small-font-size: 14px;
  --body-small-line-height: 19px;
  --body-small-font-weight: 400;
  --body-small-font-style: normal;
  --body-small-heavy-font-family: Inter-SemiBold, sans-serif;
  --body-small-heavy-font-size: 14px;
  --body-small-heavy-line-height: 19px;
  --body-small-heavy-font-weight: 600;
  --body-small-heavy-font-style: normal;
  --link-font-family: Inter-SemiBold, sans-serif;
  --link-font-size: 16px;
  --link-line-height: 22px;
  --link-font-weight: 600;
  --link-font-style: normal;
  --header-1-font-family: KantumruyPro-Bold, sans-serif;
  --header-1-font-size: 40px;
  --header-1-line-height: 20px;
  --header-1-font-weight: 700;
  --header-1-font-style: normal;
  --header-2-font-family: KantumruyPro-Bold, sans-serif;
  --header-2-font-size: 32px;
  --header-2-line-height: 20px;
  --header-2-font-weight: 700;
  --header-2-font-style: normal;
  --header-3-font-family: KantumruyPro-Bold, sans-serif;
  --header-3-font-size: 24px;
  --header-3-line-height: 20px;
  --header-3-font-weight: 700;
  --header-3-font-style: normal;
  --body-1-font-family: KantumruyPro-SemiBold, sans-serif;
  --body-1-font-size: 20px;
  --body-1-line-height: 20px;
  --body-1-font-weight: 600;
  --body-1-font-style: normal;
  --body-2-font-family: KantumruyPro-Medium, sans-serif;
  --body-2-font-size: 20px;
  --body-2-line-height: 20px;
  --body-2-font-weight: 500;
  --body-2-font-style: normal;
  --body-3-font-family: KantumruyPro-Regular, sans-serif;
  --body-3-font-size: 20px;
  --body-3-line-height: 20px;
  --body-3-font-weight: 400;
  --body-3-font-style: normal;

  /* Effects */
  --shadow-box-shadow: 0px 4px 30.8px 0px rgba(189, 209, 253, 0.65),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 10px 3px rgba(0, 0, 0, 0.17);
  --back-panel-box-shadow: 0px 4px 30.8px 0px rgba(189, 209, 253, 0.65),
    0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 10px 3px rgba(0, 0, 0, 0.17);
  --back-panel-backdrop-filter: blur(8px);
}
/* Figma Color Variables of your File */
